<h2>Currencies</h2>

<p>Use this area to provide additional information.</p>
<h3>This website is in its early developed state. We currently support these following currencies:</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Value in EUR</th>
        </tr>
    </thead>
    <tbody id="currencyTBody">
    </tbody>
    
</table>
<br />


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/currencies")