<h2>Currencies</h2>

<p>Use this area to provide additional information.</p>
<h3>This website is in its early developed state. We currently support these following currencies:</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                EUR
            </td>
        </tr>
        <tr>
            <td>

            </td>
        </tr>

    </tbody>
    
</table>
<br />
